{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #prv {
            background: url("../media/images/main_header_bg-copyright (1).jpg") no-repeat;
            background-size: cover;
            background-position: center;
        }
    </style>
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
</head>
<body>

<!--PRV DIV SO SLIKATA-->
<div class="container-fluid mb-5" id="prv">
    <div>
        <img src="../media/images/logo-retina (1).png">
    </div>
    <h2 class="display-2 p-5 text-center text-white fw-bold" style="height:300px">Add</h2>
</div>

<!--FORMATA ZA ADD-->
<div class="container">
    <div class="row">
        <div class="col-6">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-warning mt-5 mb-5  text-white">Save</button>
            </form>
        </div>
    </div>
</div>


</body>
</html>